<!-- <div class="filters-wrapper"> -->
<form [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Название</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Наличие товара</mat-label>
    <mat-select formControlName="availability">
      <mat-option>Все</mat-option>
      <mat-option [value]="true">В наличии</mat-option>
      <mat-option [value]="false">Под заказ</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Производитель</mat-label>
    <mat-select formControlName="batch">
      <mat-option>Все</mat-option>
      <mat-option *ngFor="let batch of batches" [value]="batch">{{
        batch
      }}</mat-option>
    </mat-select>
  </mat-form-field>
</form>
<!-- </div> -->
<div class="mat-elevation-z8">
  <div *ngIf="isLoading" class="loading-shade">
    <mat-spinner></mat-spinner>
  </div>

  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Название</th>
      <td mat-cell *matCellDef="let element">
        {{ element.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="availability">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Наличие</th>
      <td mat-cell *matCellDef="let element">
        {{ element.availability ? "Есть" : "Нету" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="batch">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Производитель</th>
      <td mat-cell *matCellDef="let element">
        {{ element.batch }}
      </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Цена</th>
      <td mat-cell *matCellDef="let element">{{ element.price }} UAH</td>
    </ng-container>

    <ng-container matColumnDef="color">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Цвета</th>
      <td mat-cell *matCellDef="let element">
        {{ element.color.join(", ") }}
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button
          (click)="editProduct(element.id)"
          mat-icon-button
          aria-label="edit icon"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          (click)="deleteProduct(element.id)"
          mat-icon-button
          aria-label="delete icon"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [length]="totalCount"
    [pageSizeOptions]="pageSizeOptions"
    showFirstLastButtons
  ></mat-paginator>
</div>
