<ng-container *ngIf="display$ | async as display">
  <div class="overlay" [class.open]="display === 'open'" (click)="close()">
    <div class="modal" (click)="$event.stopPropagation()">
      <button class="close" type="button" (click)="close()">
        <img src="assets/images/close.svg" />
      </button>
      <ng-container
        *ngIf="(modalType$ | async) === 'recall'"
        [ngTemplateOutlet]="recall"
      ></ng-container>

      <ng-container
        *ngIf="(modalType$ | async) === 'buy-in-click'"
        [ngTemplateOutlet]="buyInClick"
      ></ng-container>

      <ng-container
        *ngIf="(modalType$ | async) === 'success-order'"
        [ngTemplateOutlet]="successOrder"
      ></ng-container>
    </div>
  </div>
</ng-container>

<ng-template #recall>
  <div *ngIf="!isFormSent; else successMessage" class="modal-content">
    <span class="modal-title">{{ 'RECALL_MODAL.TITLE' | transloco }}</span>
    <p>{{ 'RECALL_MODAL.TEXT' | transloco }}</p>

    <form [formGroup]="recallForm">
      <div
        [ngClass]="{
          error:
            (recallFormPhone?.dirty || recallFormPhone?.touched || isInvalidRecallForm) &&
            recallFormPhone?.errors
        }"
        class="form-control"
      >
        <label for="recall-phone"
          >{{ 'RECALL_MODAL.PHONE_NUMBER' | transloco }}<img src="assets/images/star.svg"
        /></label>
        <input
          formControlName="phone"
          name="phone"
          id="recall-phone"
          type="text"
          placeholder="+380 (00) 000 00 00"
        />
        <span
          *ngIf="
            (recallFormPhone?.dirty || recallFormPhone?.touched || isInvalidRecallForm) &&
            recallFormPhone?.errors?.required
          "
          class="error-message"
        >
          {{ 'RECALL_MODAL.PHONE_NUMBER_EXIST_ERROR' | transloco }}
        </span>
        <span
          *ngIf="
            (recallFormPhone?.dirty || recallFormPhone?.touched || isInvalidRecallForm) &&
            recallFormPhone?.errors?.pattern
          "
          class="error-message"
        >
          {{ 'RECALL_MODAL.PHONE_NUMBER_PATTERN_ERROR' | transloco }}
        </span>
      </div>

      <div
        [ngClass]="{
          error:
            (recallFormFullName?.dirty || recallFormFullName?.touched || isInvalidRecallForm) &&
            recallFormFullName?.errors
        }"
        class="form-control"
      >
        <label for="recall-name"
          >{{ 'RECALL_MODAL.NAME' | transloco }}<img src="assets/images/star.svg"
        /></label>
        <input
          formControlName="fullName"
          name="name"
          id="recall-name"
          type="text"
          [placeholder]="'RECALL_MODAL.NAME_PLACEHOLDER' | transloco"
        />
        <span
          *ngIf="
            (recallFormFullName?.dirty || recallFormFullName?.touched || isInvalidRecallForm) &&
            recallFormFullName?.errors?.required
          "
          class="error-message"
        >
          {{ 'RECALL_MODAL.NAME_EXIST_ERROR' | transloco }}
        </span>
      </div>

      <div class="form-control">
        <label for="recall-message">{{ 'RECALL_MODAL.MESSAGE' | transloco }}</label>
        <textarea
          formControlName="message"
          name="message"
          id="recall-message"
          type="text"
          [placeholder]="'RECALL_MODAL.MESSAGE_PLACEHOLDER' | transloco"
        ></textarea>
      </div>

      <button
        [ngClass]="{ disabled: recallForm.errors }"
        (click)="sendRecallForm()"
        class="btn outline"
      >
        {{ 'SEND' | transloco }}
      </button>
    </form>
  </div>
</ng-template>

<ng-template #buyInClick>
  <div *ngIf="!isFormSent; else successMessage" class="modal-content">
    <span class="modal-title">{{ 'BUY_IN_CLICK_MODAL.TITLE' | transloco }}</span>
    <p>{{ 'BUY_IN_CLICK_MODAL.TEXT' | transloco }}</p>

    <form [formGroup]="buyInClickForm">
      <div
        [ngClass]="{
          error:
            (buyInClickFormPhone?.dirty ||
              buyInClickFormPhone?.touched ||
              isInvalidBuyInClickForm) &&
            buyInClickFormPhone?.errors
        }"
        class="form-control"
      >
        <label for="buy-in-click-phone"
          >{{ 'BUY_IN_CLICK_MODAL.PHONE_NUMBER' | transloco }}<img src="assets/images/star.svg"
        /></label>
        <input
          formControlName="phone"
          name="phone"
          id="buy-in-click-phone"
          type="text"
          placeholder="+380 (00) 000 00 00"
        />
        <span
          *ngIf="
            (buyInClickFormPhone?.dirty ||
              buyInClickFormPhone?.touched ||
              isInvalidBuyInClickForm) &&
            buyInClickFormPhone?.errors?.required
          "
          class="error-message"
        >
          {{ 'BUY_IN_CLICK_MODAL.PHONE_NUMBER_EXIST_ERROR' | transloco }}
        </span>
        <span
          *ngIf="
            (buyInClickFormPhone?.dirty ||
              buyInClickFormPhone?.touched ||
              isInvalidBuyInClickForm) &&
            buyInClickFormPhone?.errors?.pattern
          "
          class="error-message"
        >
          {{ 'BUY_IN_CLICK_MODAL.PHONE_NUMBER_PATTERN_ERROR' | transloco }}
        </span>
      </div>

      <div
        [ngClass]="{
          error:
            (buyInClickFormFullName?.dirty ||
              buyInClickFormFullName?.touched ||
              isInvalidBuyInClickForm) &&
            buyInClickFormFullName?.errors
        }"
        class="form-control"
      >
        <label for="buy-in-click-name"
          >{{ 'BUY_IN_CLICK_MODAL.NAME' | transloco }}<img src="assets/images/star.svg"
        /></label>
        <input
          formControlName="fullName"
          name="fullName"
          id="buy-in-click-name"
          type="text"
          [placeholder]="'BUY_IN_CLICK_MODAL.NAME_PLACEHOLDER' | transloco"
        />
        <span
          *ngIf="
            (buyInClickFormFullName?.dirty ||
              buyInClickFormFullName?.touched ||
              isInvalidBuyInClickForm) &&
            buyInClickFormFullName?.errors?.required
          "
          class="error-message"
        >
          {{ 'BUY_IN_CLICK_MODAL.NAME_EXIST_ERROR' | transloco }}
        </span>
      </div>

      <div
        [ngClass]="{
          error:
            (buyInClickFormEmail?.dirty ||
              buyInClickFormEmail?.touched ||
              isInvalidBuyInClickForm) &&
            buyInClickFormEmail?.errors
        }"
        class="form-control"
      >
        <label for="buy-in-click-email">Email</label>
        <input
          formControlName="email"
          name="email"
          id="buy-in-click-email"
          type="email"
          placeholder="example@email.com"
        />
        <span
          *ngIf="
            (buyInClickFormEmail?.dirty ||
              buyInClickFormEmail?.touched ||
              isInvalidBuyInClickForm) &&
            buyInClickFormEmail?.errors?.email
          "
          class="error-message"
        >
          {{ 'BUY_IN_CLICK_MODAL.EMAIL_PATTERN_ERROR' | transloco }}
        </span>
      </div>

      <div class="form-control">
        <label for="buy-in-click-message">{{ 'BUY_IN_CLICK_MODAL.COMMENTS' | transloco }}</label>
        <textarea
          formControlName="message"
          name="message"
          id="buy-in-click-message"
          type="text"
          [placeholder]="'BUY_IN_CLICK_MODAL.COMMENTS_PLACEHOLDER' | transloco"
        ></textarea>
      </div>
      <button (click)="sendBuyInClickForm()" class="btn outline">{{ 'SEND' | transloco }}</button>
    </form>
  </div>
</ng-template>

<ng-template #successOrder>
  <div class="modal-content">
    <span class="modal-title">{{ 'SUCCESS_MODAL.TITLE' | transloco }}</span>
    <p>{{ 'SUCCESS_MODAL.TEXT' | transloco }}</p>
  </div>
</ng-template>

<ng-template #successMessage>
  <div class="modal-content">
    <span class="modal-title">{{ 'SUCCESS_MESSAGE_MODAL.TITLE' | transloco }}</span>
    <p>{{ 'SUCCESS_MESSAGE_MODAL.TEXT' | transloco }}</p>
  </div>
</ng-template>
