<ng-container *ngIf="display$ | async as display">
  <div class="overlay" [class.open]="display === 'open'" (click)="close()">
    <div class="modal" (click)="$event.stopPropagation()">
      <button class="close" type="button" (click)="close()">
        <img src="assets/images/close.svg" />
      </button>
      <ng-container
        *ngIf="(modalType$ | async) === 'recall'"
        [ngTemplateOutlet]="recall"
      ></ng-container>

      <ng-container
        *ngIf="(modalType$ | async) === 'existing'"
        [ngTemplateOutlet]="existing"
      ></ng-container>

      <ng-container
        *ngIf="(modalType$ | async) === 'buy-in-click'"
        [ngTemplateOutlet]="buyInClick"
      ></ng-container>
    </div>
  </div>
</ng-container>

<ng-template #recall>
  <div class="modal-content">
    <span class="modal-title">У вас есть вопрос?</span>
    <p>Оставьте свои данные и мы свяжемся с вами в ближайшее время</p>

    <form [formGroup]="recallForm">
      <div
        [ngClass]="{
          error:
            (recallFormPhone?.dirty ||
              recallFormPhone?.touched ||
              isInvalidRecallForm) &&
            recallFormPhone?.errors
        }"
        class="form-control"
      >
        <label for="recall-phone"
          >Номер телефона<img src="assets/images/star.svg"
        /></label>
        <input
          formControlName="phone"
          name="phone"
          id="recall-phone"
          type="text"
          placeholder="+380 (00) 000 00 00"
        />
        <span
          *ngIf="
            (recallFormPhone?.dirty ||
              recallFormPhone?.touched ||
              isInvalidRecallForm) &&
            recallFormPhone?.errors?.required
          "
          class="error-message"
        >
          Введите ваш номер телефона
        </span>
        <span
          *ngIf="
            (recallFormPhone?.dirty ||
              recallFormPhone?.touched ||
              isInvalidRecallForm) &&
            recallFormPhone?.errors?.pattern
          "
          class="error-message"
        >
          Введите корректный номер телефона
        </span>
      </div>

      <div
        [ngClass]="{
          error:
            (recallFormFullName?.dirty ||
              recallFormFullName?.touched ||
              isInvalidRecallForm) &&
            recallFormFullName?.errors
        }"
        class="form-control"
      >
        <label for="recall-name"
          >Ваше имя<img src="assets/images/star.svg"
        /></label>
        <input
          formControlName="fullName"
          name="name"
          id="recall-name"
          type="text"
          placeholder="Имя"
        />
        <span
          *ngIf="
            (recallFormFullName?.dirty ||
              recallFormFullName?.touched ||
              isInvalidRecallForm) &&
            recallFormFullName?.errors?.required
          "
          class="error-message"
        >
          Введите ваше имя
        </span>
      </div>

      <div class="form-control">
        <label for="recall-message">Текст обращения</label>
        <textarea
          formControlName="message"
          name="message"
          id="recall-message"
          type="text"
          placeholder="Введите текст вашего обращения"
        ></textarea>
      </div>

      <button
        [ngClass]="{ disabled: recallForm.errors }"
        (click)="sendRecallForm()"
        class="btn outline"
      >
        Отправить
      </button>
    </form>
  </div>
</ng-template>

<ng-template #existing>
  <div class="modal-content">
    <span class="modal-title">Введите свои контактные данные</span>
    <p>Мы сообщим вам когда товар появится в наличии</p>

    <form [formGroup]="existingForm">
      <div
        [ngClass]="{
          error:
            (existingFormPhone?.dirty ||
              existingFormPhone?.touched ||
              isInvalidExistingForm) &&
            existingFormPhone?.errors
        }"
        class="form-control"
      >
        <label for="existing-phone"
          >Номер телефона<img src="assets/images/star.svg"
        /></label>
        <input
          formControlName="phone"
          name="phone"
          id="existing-phone"
          type="text"
          placeholder="+380 (00) 000 00 00"
        />
        <span
          *ngIf="
            (existingFormPhone?.dirty ||
              existingFormPhone?.touched ||
              isInvalidExistingForm) &&
            existingFormPhone?.errors?.required
          "
          class="error-message"
        >
          Введите ваш номер телефона
        </span>
        <span
          *ngIf="
            (existingFormPhone?.dirty ||
              existingFormPhone?.touched ||
              isInvalidExistingForm) &&
            existingFormPhone?.errors?.pattern
          "
          class="error-message"
        >
          Введите корректный номер телефона
        </span>
      </div>

      <div
        [ngClass]="{
          error:
            (existingFormFullName?.dirty ||
              existingFormFullName?.touched ||
              isInvalidExistingForm) &&
            existingFormFullName?.errors
        }"
        class="form-control"
      >
        <label for="existing-name"
          >Ваше имя<img src="assets/images/star.svg"
        /></label>
        <input
          formControlName="fullName"
          name="name"
          id="existing-name"
          type="text"
          placeholder="Ваше имя"
        />
        <span
          *ngIf="
            (existingFormFullName?.dirty ||
              existingFormFullName?.touched ||
              isInvalidExistingForm) &&
            existingFormFullName?.errors?.required
          "
          class="error-message"
        >
          Введите ваше имя
        </span>
      </div>

      <div
        [ngClass]="{
          error:
            (existingFormEmail?.dirty ||
              existingFormEmail?.touched ||
              isInvalidExistingForm) &&
            existingFormEmail?.errors?.email
        }"
        class="form-control"
      >
        <label for="existing-email">Email</label>
        <input
          formControlName="email"
          name="email"
          id="existing-email"
          type="email"
          placeholder="example@email.com"
        />
        <span
          *ngIf="
            (existingFormEmail?.dirty ||
              existingFormEmail?.touched ||
              isInvalidExistingForm) &&
            existingFormEmail?.errors?.email
          "
          class="error-message"
        >
          Введите корректный email
        </span>
      </div>
      <button (click)="sendExistingForm()" class="btn outline">
        Отправить
      </button>
    </form>
  </div>
</ng-template>

<ng-template #buyInClick>
  <div class="modal-content">
    <span class="modal-title">Покупка в один клик</span>
    <p>Всего пара пунктов и мы свяжемся с вами!</p>

    <form [formGroup]="buyInClickForm">
      <div
        [ngClass]="{
          error:
            (buyInClickFormPhone?.dirty ||
              buyInClickFormPhone?.touched ||
              isInvalidBuyInClickForm) &&
            buyInClickFormPhone?.errors
        }"
        class="form-control"
      >
        <label for="buy-in-click-phone"
          >Номер телефона<img src="assets/images/star.svg"
        /></label>
        <input
          formControlName="phone"
          name="phone"
          id="buy-in-click-phone"
          type="text"
          placeholder="+380 (00) 000 00 00"
        />
        <span
          *ngIf="
            (buyInClickFormPhone?.dirty ||
              buyInClickFormPhone?.touched ||
              isInvalidBuyInClickForm) &&
            buyInClickFormPhone?.errors?.required
          "
          class="error-message"
        >
          Введите ваш номер телефона
        </span>
        <span
          *ngIf="
            (buyInClickFormPhone?.dirty ||
              buyInClickFormPhone?.touched ||
              isInvalidBuyInClickForm) &&
            buyInClickFormPhone?.errors?.pattern
          "
          class="error-message"
        >
          Введите корректный номер телефона
        </span>
      </div>

      <div
        [ngClass]="{
          error:
            (buyInClickFormFullName?.dirty ||
              buyInClickFormFullName?.touched ||
              isInvalidBuyInClickForm) &&
            buyInClickFormFullName?.errors
        }"
        class="form-control"
      >
        <label for="buy-in-click-name"
          >Ваше имя<img src="assets/images/star.svg"
        /></label>
        <input
          formControlName="fullName"
          name="fullName"
          id="buy-in-click-name"
          type="text"
          placeholder="Ваше имя"
        />
        <span
          *ngIf="
            (buyInClickFormFullName?.dirty ||
              buyInClickFormFullName?.touched ||
              isInvalidBuyInClickForm) &&
            buyInClickFormFullName?.errors?.required
          "
          class="error-message"
        >
          Введите ваше имя
        </span>
      </div>

      <div
        [ngClass]="{
          error:
            (buyInClickFormEmail?.dirty ||
              buyInClickFormEmail?.touched ||
              isInvalidBuyInClickForm) &&
            buyInClickFormEmail?.errors
        }"
        class="form-control"
      >
        <label for="buy-in-click-email">Email</label>
        <input
          formControlName="email"
          name="email"
          id="buy-in-click-email"
          type="email"
          placeholder="example@email.com"
        />
        <span
          *ngIf="
            (buyInClickFormEmail?.dirty ||
              buyInClickFormEmail?.touched ||
              isInvalidBuyInClickForm) &&
            buyInClickFormEmail?.errors?.email
          "
          class="error-message"
        >
          Введите корректный email
        </span>
      </div>

      <div class="form-control">
        <label for="buy-in-click-message">Комментарий к заказу</label>
        <textarea
          formControlName="message"
          name="message"
          id="buy-in-click-message"
          type="text"
          placeholder="Введите текст комментария"
        ></textarea>
      </div>
      <button (click)="sendBuyInClickForm()" class="btn outline">
        Отправить
      </button>
    </form>
  </div>
</ng-template>
