<div (click)="navigateToItem($event)" class="card-wrapper">
  <div class="img-wrapper">
    <img class="card-img" src="assets/images/dryer.jpg" alt="dryer" />
  </div>
  <div class="content">
    <span class="label">Есть в наличии</span>
    <span class="card-title">Электрополотенцесушитель Стандарт П5 450х500 LARIS (слева)</span>
    <div class="price-wrapper">
      <span class="prev-price"> 4400 грн.</span>
      <span class="price">3300 грн.</span>
    </div>
    <button #buttonWithOwnEvent class="btn primary">Добавить в корзину</button>
  </div>
</div>
