
.pos-wrapper {

}

.card-wrapper {
  background: #FAF9F9;
  border: 1px solid #BFBEBE;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: calc(100% - 36px);
  transition: 200ms;

      &:hover {
      box-shadow: -20px 10px 15px rgba(196, 196, 196, 0.2), 20px 10px 15px rgba(196, 196, 196, 0.2);
      max-height: 100%;
      transition: 200ms;
      cursor: pointer;
    }
}

.img-wrapper {
  margin: 4px 4px 0 4px;
  width: 234px;
  height: 234px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;

  .card-img {
    max-width: 234px;
    max-height: 234px;
  }
}

.content {
  padding: 0 8px 8px 8px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 20px;

  .label {
    margin-top: 16px;
  }

  .card-title {
    margin-top: 8px;
  }

  .price-wrapper {
    margin-top: 8px;
    font-weight: 600;
    display: flex;
    justify-content: center;

    .prev-price {
      color: #BFBEBE;
      text-decoration: line-through;
    }

    .price {
      margin-left: 8px;
      color: #FF6700;
    }
  }
}

.btn {
  margin-top: 8px;
  align-self: center;
  width: fit-content;
}
