<div class="select-wrapper">
  <ng-container *ngFor="let item of deliveryTypes">
    <div [class.selected]="!disabled && selectedDelivery === item.type" class="selector">
      <button
        [class.selected]="!disabled && selectedDelivery === item.type"
        (click)="selectType(item.type)"
      >
        <span class="radio-circle"></span>
        <p>{{ item?.text }}</p>
      </button>

      <form
        [formGroup]="deliveryForm"
        *ngIf="selectedDelivery === 'POST' && item.type === 'POST'"
        class="select-wrapper"
      >
        <div class="form-control ml-50">
          <app-input
            id="delivery-city"
            name="city"
            inputType="text"
            [label]="'VERIFICATION_PAGE.CITY' | transloco"
            [placeholder]="'VERIFICATION_PAGE.CITY_PLACEHOLDER' | transloco"
            formControlName="city"
            [isTriedSubmit]="isTriedSubmit"
            [required]="true"
          ></app-input>
          <app-input-error
            *ngIf="
              (formCity.dirty || formCity.touched || isTriedSubmit) && formCity?.errors?.required
            "
            >{{ 'VERIFICATION_PAGE.CITY_EXIST_ERROR' | transloco }}</app-input-error
          >
        </div>
        <ng-container *ngFor="let item of postTypeSelectors | slice: 0:1">
          <div class="selector-inside">
            <button
              [disabled]="disabled"
              (click)="selectPostType(item.type)"
              [class.selected]="!disabled && selectedPost === item.type"
            >
              <span class="radio-circle"></span>
              <p>{{ item?.text }}</p>
            </button>
          </div>
        </ng-container>
        <div *ngIf="selectedPost === 'OFFICE'" class="form-control ml-50">
          <app-input
            id="post-office"
            inputName="office"
            inputType="text"
            [label]="'VERIFICATION_PAGE.POST_OFFICE_NUMBER' | transloco"
            [placeholder]="'VERIFICATION_PAGE.POST_OFFICE_NUMBER_PLACEHOLDER' | transloco"
            formControlName="office"
            [isTriedSubmit]="isTriedSubmit"
            [required]="true"
          ></app-input>
          <app-input-error
            *ngIf="
              (formOffice.dirty || formOffice.touched || isTriedSubmit) &&
              formOffice?.errors?.required
            "
            >{{ 'VERIFICATION_PAGE.POST_OFFICE_NUMBER_EXIST_ERROR' | transloco }}</app-input-error
          >
        </div>
        <ng-container *ngFor="let item of postTypeSelectors | slice: 1:2">
          <div class="selector-inside">
            <button
              [disabled]="disabled"
              (click)="selectPostType(item.type)"
              [class.selected]="!disabled && selectedPost === item.type"
            >
              <span class="radio-circle"></span>
              <p>{{ item?.text }}</p>
            </button>
          </div>
        </ng-container>
        <form formGroupName="courier" class="courier-form" *ngIf="selectedPost === 'COURIER'">
          <div class="form-control">
            <app-input
              id="courier-street"
              inputName="street"
              inputType="text"
              [label]="'VERIFICATION_PAGE.STREET' | transloco"
              [placeholder]="'VERIFICATION_PAGE.STREET_PLACEHOLDER' | transloco"
              formControlName="street"
              [isTriedSubmit]="isTriedSubmit"
              [required]="true"
            ></app-input>
            <app-input-error
              *ngIf="
                (formCourierStreet.dirty || formCourierStreet.touched || isTriedSubmit) &&
                formCourierStreet?.errors?.required
              "
              >{{ 'VERIFICATION_PAGE.STREET_EXIST_ERROR' | transloco }}</app-input-error
            >
          </div>
          <div class="form-control">
            <app-input
              id="courier-house"
              inputName="house"
              inputType="text"
              [label]="'VERIFICATION_PAGE.HOUSE_NUMBER' | transloco"
              [placeholder]="'VERIFICATION_PAGE.HOUSE_NUMBER_PLACEHOLDER' | transloco"
              formControlName="houseNumber"
              [isTriedSubmit]="isTriedSubmit"
              [required]="true"
            ></app-input>
            <app-input-error
              *ngIf="
                (formCourierHouseNumber.dirty || formCourierHouseNumber.touched || isTriedSubmit) &&
                formCourierHouseNumber?.errors?.required
              "
              >{{ 'VERIFICATION_PAGE.HOUSE_NUMBER_EXIST_ERROR' | transloco }}</app-input-error
            >
          </div>
          <div class="form-control">
            <app-input
              id="courier-apartment"
              inputName="apartment"
              inputType="text"
              [label]="'VERIFICATION_PAGE.APARTMENT_NUMBER' | transloco"
              [placeholder]="'VERIFICATION_PAGE.APARTMENT_NUMBER_PLACEHOLDER' | transloco"
              formControlName="apartmentNumber"
            ></app-input>
          </div>
          <div class="form-control">
            <app-input
              id="courier-entrance"
              inputName="entrance"
              inputType="text"
              [label]="'VERIFICATION_PAGE.ENTRANCE' | transloco"
              [placeholder]="'VERIFICATION_PAGE.ENTRANCE_PLACEHOLDER' | transloco"
              formControlName="entrance"
            ></app-input>
          </div>
          <div class="form-control">
            <app-input
              id="courier-floor"
              inputName="floor"
              inputType="text"
              [label]="'VERIFICATION_PAGE.FLOOR' | transloco"
              [placeholder]="'VERIFICATION_PAGE.FLOOR_PLACEHOLDER' | transloco"
              formControlName="floor"
            ></app-input>
          </div>
        </form>
      </form>
    </div>
  </ng-container>
</div>
