<section>
  <div class="container">
    <h3 class="page-title">Контакты</h3>
    <app-breadcrumbs></app-breadcrumbs>

    <div class="page-content">
      <div class="left-side">
        <img class="shop-photo" src="assets/images/shop-photo.JPG" alt="shop" />
        <div class="cards-list">
          <div class="contacts-card">
            <span class="card-title">Адрес</span>
            <span class="card-text">Одесса, ул. Косвенная, ХХ павильон ХХХХХХХХХХ, ряд ХХ</span>
          </div>
          <div class="contacts-card">
            <span class="card-title">Режим работы</span>
            <span class="card-text">Пн. – ВС.: с 8:30 до 15:00 </span>
          </div>
          <div class="contacts-card">
            <span class="card-title">Телефон</span>
            <span class="card-text">+38 (055) 555 55 55</span>
          </div>
          <div class="contacts-card">
            <span class="card-title">E-mail</span>
            <span class="card-text">Example@mail.com</span>
          </div>
        </div>
        <div class="social-networks">
          <a href="" class="social-logo"><img src="assets/images/instagram.svg" /></a>
          <a href="" class="social-logo"><img src="assets/images/viber.svg" /></a>
          <a href="" class="social-logo"></a>
        </div>
      </div>
      <div class="right-side">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d686.8754609745007!2d30.711580453593875!3d46.47837450000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c631f34063aecd%3A0xd18809c1f4818808!2z0JrQvtGB0LLQtdC90L3QsNGPINGD0LsuLCAxOSwg0J7QtNC10YHRgdCwLCDQntC00LXRgdGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCA2NTAwMA!5e0!3m2!1sru!2sua!4v1657733630410!5m2!1sru!2sua"
          width="650"
          height="650"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
</section>
