<h2 mat-dialog-title class="title">Добавить нового производителя:</h2>
<div mat-dialog-content>
  <form [formGroup]="form">
    <div class="image-list">
      <mat-card class="image-card">
        <div #imgCard class="image-preview"></div>
        <img *ngIf="!this.image?.toString().includes('svg')" class="image-preview" [src]="image" />
      </mat-card>
      <mat-error *ngIf="!image && (form.dirty || form.touched)">Загрузите обложку акции</mat-error>
    </div>

    <button
      type="button"
      (click)="triggerClickInput()"
      class="upload-button"
      mat-raised-button
      color="primary"
    >
      <input #file (change)="preview(file?.files)" type="file" accept="image/*" />
      {{ !image ? 'Загрузить изображение' : 'Поменять изображение' }}
    </button>

    <mat-form-field appearance="outline">
      <mat-label>Введите название производителя</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="form.get('name').errors?.required">Это обязательное поле</mat-error>
    </mat-form-field>
    <mat-error class="custom-error" *ngIf="isSimilarName"
      >Производитель с таким именем уже существует в базе</mat-error
    >
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-dialog-close mat-button>Отмена</button>
  <button
    type="submit"
    (click)="createItem()"
    mat-raised-button
    color="primary"
    [disabled]="form.invalid || isSimilarName"
  >
    Добавить производителя
  </button>
</div>
