<form [formGroup]="orderForm" class="form-wrapper">
  <app-form-card
    [icon]="'assets/images/user-form.svg'"
    [title]="'VERIFICATION_PAGE.RECIPIENT_DATA' | transloco"
  >
    <div class="form-card-content">
      <div class="form-control">
        <app-input
          [label]="'VERIFICATION_PAGE.FULLNAME' | transloco"
          [placeholder]="'VERIFICATION_PAGE.FULLNAME_PLACEHOLDER' | transloco"
          inputType="text"
          inputName="name"
          id="order-name"
          formControlName="fullName"
          [required]="true"
          [isTriedSubmit]="isTriedSubmit"
        ></app-input>
        <app-input-error
          *ngIf="
            (orderFormFullName.dirty || orderFormFullName?.touched || isTriedSubmit) &&
            orderFormFullName?.errors?.required
          "
          >{{ 'VERIFICATION_PAGE.FULLNAME_EXIST_ERROR' | transloco }}</app-input-error
        >
      </div>

      <div class="form-control">
        <app-input
          [label]="'VERIFICATION_PAGE.MOBILE_PHONE' | transloco"
          placeholder="+380(00)000 00 00"
          inputType="text"
          inputName="phone"
          id="order-phone"
          formControlName="phone"
          [required]="true"
          [isTriedSubmit]="isTriedSubmit"
        ></app-input>
        <app-input-error
          *ngIf="
            (orderFormPhone.dirty || orderFormPhone?.touched || isTriedSubmit) &&
            orderFormPhone?.errors?.required
          "
          >{{ 'VERIFICATION_PAGE.MOBILE_PHONE_EXIST_ERROR' | transloco }}</app-input-error
        >
        <app-input-error
          *ngIf="
            (orderFormPhone.dirty || orderFormPhone?.touched) && orderFormPhone?.errors?.pattern
          "
          >{{ 'VERIFICATION_PAGE.MOBILE_PHONE_PATTERN_ERROR' | transloco }}</app-input-error
        >
      </div>

      <div class="form-control">
        <app-input
          label="Email"
          placeholder="example@email.com"
          inputType="text"
          inputName="email"
          id="order-email"
          formControlName="email"
        ></app-input>
      </div>
    </div>
  </app-form-card>
  <app-form-card
    [icon]="'assets/images/wallet-form.svg'"
    [title]="'VERIFICATION_PAGE.PAYMENT_METHOD' | transloco"
  >
    <app-payment-selector formControlName="paymentType"></app-payment-selector>
  </app-form-card>
  <app-form-card
    [icon]="'assets/images/bus-form.svg'"
    [title]="'VERIFICATION_PAGE.DELIVERY_METHOD' | transloco"
  >
    <app-delivery-selector
      [isTriedSubmit]="isTriedSubmit"
      formControlName="delivery"
    ></app-delivery-selector>
  </app-form-card>
  <app-form-card
    [icon]="'assets/images/cart-form.svg'"
    [title]="'VERIFICATION_PAGE.ITEMS_IN_CART' | transloco"
  >
    <app-order-items-list></app-order-items-list>
  </app-form-card>
</form>
