.control {
  display: flex;
  flex-direction: column;

  label {
    color: #0D0D0D;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    width: fit-content;

    img {
      margin-left: 8px;
    }
  }

  input, textarea {
    margin-top: 8px;
    padding: 10px;
    border: 1px solid #BFBEBE;
    border-radius: 8px;
    font-size: 14px;
    line-height: 20px;
    color: #0D0D0D;

    &::placeholder {
      color: #BFBEBE;
    }
  }

  textarea {
    width: 360px;
    height: 54px;
    resize: none;
  }
}
