<div
  *ngIf="(currentCart$ | async)?.itemRecords?.length; else emptyCard"
  class="basket-card"
>
  <div class="items-wrapper">
    <div *ngFor="let item of (currentCart$ | async)?.itemRecords" class="item">
      <div class="img-wrapper"><img [src]="item.item.imageUrls[0]" /></div>
      <div class="text-wrapper">
        <span class="item-title">{{ item.item?.name }}</span>
        <span class="price">{{ item.item?.price }} грн.</span>
      </div>
      <span class="close-icon">&#x2715;</span>
    </div>
  </div>
  <div class="flex-wrapper">
    <span class="action">Очистить корзину</span>
    <span class="price"
      ><span>Итого:</span> {{ (currentCart$ | async)?.totalSum }}</span
    >
  </div>

  <div class="buttons-wrapper">
    <button class="btn outline">Покупка в один клик</button>
    <button class="btn primary">К оформлению</button>
  </div>
</div>

<ng-template #emptyCard>
  <div class="basket-card empty">
    <span class="card-title">Ваша корзина пустая</span>
    <span class="card-text"
      >Исправить это просто: выберите в каталоге интересующий товар и нажмите
      кнопку «В корзину».</span
    >
    <button [routerLink]="['', 'catalog', 'water']" class="btn outline">
      Перейти в каталог
    </button>
  </div>
</ng-template>
