.slide-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  max-width: 1120px;
  height: 600px;

  img {
    width: 100%;
    height: 100%;
  }

}

app-basic-button {
  margin-top: 24px;
}
