<section>
  <div class="container">
    <h3 class="page-title">
      {{
        (lastPartOfPath === 'payment' && 'ADDITIONAL_INFORMATION_PAGE.PAYMENT' | transloco) ||
          (lastPartOfPath === 'delivery' && 'ADDITIONAL_INFORMATION_PAGE.DELIVERY' | transloco) ||
          (lastPartOfPath === 'return-and-exchange' &&
            'ADDITIONAL_INFORMATION_PAGE.RETURN_AND_EXCHANGE' | transloco) ||
          (lastPartOfPath === 'public-offer-contract' && 'ADDITIONAL_INFORMATION_PAGE.PUBLIC_OFFER'
            | transloco)
      }}
    </h3>
    <app-breadcrumbs></app-breadcrumbs>

    <div class="page-content">
      <div class="left-side">
        <div class="tabs">
          <a
            [routerLink]="['/', 'additional-information', 'payment']"
            routerLinkActive="active-link"
            class="tab"
            >{{ 'ADDITIONAL_INFORMATION_PAGE.PAYMENT' | transloco }}</a
          >
          <a
            [routerLink]="['/', 'additional-information', 'delivery']"
            routerLinkActive="active-link"
            class="tab"
            >{{ 'ADDITIONAL_INFORMATION_PAGE.DELIVERY' | transloco }}</a
          >
          <a
            [routerLink]="['/', 'additional-information', 'return-and-exchange']"
            routerLinkActive="active-link"
            class="tab"
            >{{ 'ADDITIONAL_INFORMATION_PAGE.RETURN_AND_EXCHANGE' | transloco }}</a
          >
          <a
            [routerLink]="['/', 'additional-information', 'public-offer-contract']"
            routerLinkActive="active-link"
            class="tab"
            >{{ 'ADDITIONAL_INFORMATION_PAGE.PUBLIC_OFFER' | transloco }}</a
          >
        </div>
      </div>
      <div class="right-side">
        <ng-component
          [ngTemplateOutlet]="
            (lastPartOfPath === 'payment' && payment) ||
            (lastPartOfPath === 'delivery' && delivery) ||
            (lastPartOfPath === 'return-and-exchange' && returnAndExchange) ||
            (lastPartOfPath === 'public-offer-contract' && publicOfferContract)
          "
        ></ng-component>
      </div>
    </div>
  </div>
</section>

<ng-template #payment>
  <div
    class="side-content from-markdown"
    [innerHTML]="'ADDITIONAL_INFORMATION_PAGE.PAYMENT_TEXT' | transloco"
  ></div>
</ng-template>

<ng-template #delivery>
  <div
    [innerHTML]="'ADDITIONAL_INFORMATION_PAGE.DELIVERY_TEXT' | transloco"
    class="side-content from-markdown"
  ></div>
</ng-template>

<ng-template #returnAndExchange>
  <div
    [innerHTML]="'ADDITIONAL_INFORMATION_PAGE.RETURN_AND_EXCHANGE_TEXT' | transloco"
    class="side-content from-markdown"
  ></div>
</ng-template>

<ng-template #publicOfferContract>
  <div
    [innerHTML]="'ADDITIONAL_INFORMATION_PAGE.PUBLIC_OFFER_TEXT' | transloco"
    class="side-content from-markdown"
  ></div>
</ng-template>
