.form {
  padding-bottom: 30px;
}

.checkbox-field {
  display: flex;
  flex-direction: column;

  mat-radio-group {
    margin-top: 10px;
    display: flex;
    :not(:first-of-type) {
      margin-left: 10px;
    }
  }
}

.upload-img {
  cursor: pointer;
}

.upload-button {
  margin-bottom: 20px;
  cursor: pointer;
  input {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    display: none;
  }
}

.image-list {
  display: flex;
  flex-wrap: wrap;
  .image-card {
    display: flex;
    flex-direction: column;
    max-width: 160px;
    margin: 10px 20px;
    .image-preview {
      max-width: 150px;
      height: 200px;
    }
  }
}

.checkbox-field {
  margin-top: 20px;
}

.color-wrapper {
  h4 {
    padding-bottom: 10px;
  }
}

mat-error {
  margin: auto;
  text-align: center;
}

.image-selector {
  display: flex;
  flex-direction: column;
  align-items: center;

  mat-radio-button {
    margin-top: 8px;
  }
}
