<div class="feed-wrapper">
  <div class="wrapper-header">
    <span class="header-title">Новостная лента</span>
    <svg-icon
      class="instagram-logo"
      src="assets/images/instagram.svg"
    ></svg-icon>
  </div>
  <div class="text">Следите за нашими новостями</div>

  <div class="posts-list">
    <div class="post">
      <img src="assets/images/dryers-on-chair.jpg" alt="" />
    </div>
    <div class="post">
      <img src="assets/images/dryers-on-chair.jpg" alt="" />
    </div>
    <div class="post">
      <img src="assets/images/dryers-on-chair.jpg" alt="" />
    </div>
  </div>
</div>
