<h2 mat-dialog-title class="title">Список производителей:</h2>
<div mat-dialog-content>
  <mat-list class="manufacturers-list" role="list">
    <mat-list-item
      *ngFor="let manufacturer of manufacturers$ | async"
      role="listitem"
    >
      <p>{{ manufacturer.name }}</p>
      <div class="bar">
        <button
          (click)="editManufacturer(manufacturer)"
          color="primary"
          mat-icon-button
          aria-label="Edit icon button"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          (click)="openDeleteManufacturerModal(manufacturer.id)"
          color="warn"
          mat-icon-button
          aria-label="Delete icon button"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-list-item>
  </mat-list>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button color="primary" mat-dialog-close>Ок</button>
</div>
