<div class="card">
  <div class="card-header">
    <span>{{ 'VERIFICATION_PAGE.YOUR_ORDER' | transloco }}</span>
  </div>
  <div class="card-body">
    <span>{{ 'VERIFICATION_PAGE.PAYMENT_PRICE' | transloco }}</span>
    <span class="sum"
      >{{ 'VERIFICATION_PAGE.TOTAL' | transloco }}:
      <span>{{ cartSum$ | async | currency: 'UAH':'грн.':'1.2-2':'ua' }}</span></span
    >
  </div>
</div>

<button (click)="confirmOrder()" class="btn primary">
  {{ 'VERIFICATION_PAGE.CONFIRM_ORDER' | transloco }}
</button>
