<div
  (click)="navigateToItem($event)"
  class="card"
  *ngIf="viewType === 'column'; else cardForRowContainer"
>
  <div class="img-wrapper">
    <img
      *ngIf="item?.imageUrls"
      [src]="item?.mainImg ? (item?.mainImg | imgUrl) : '/assets/images/blank-image.svg'"
      alt="towel-photo"
      [ngClass]="{ empty: !item?.mainImg }"
    />
  </div>
  <div class="card-content">
    <div class="card-text">
      <span class="card-title">{{ currentLanguage === 'uk_UA' ? item?.nameUa : item?.name }}</span>
      <span [ngClass]="{ orange: !item?.availability }" class="label">{{
        item?.availability ? ('AVAILABLE' | transloco) : ('ON_ORDER' | transloco)
      }}</span>
    </div>
    <div class="card-price" [ngClass]="{ 'already-in-cart': isExistInCart }">
      <span *ngIf="!!item?.oldPrice" [ngClass]="{ prev: item?.oldPrice }" class="price">{{
        item?.oldPrice | currency: 'UAH':'грн.':'1.2-2':'ua'
      }}</span>
      <span [ngClass]="{ 'with-discount': item?.oldPrice }" class="price"
        >{{ item?.price | currency: 'UAH':'грн.':'1.2-2':'ua' }}
      </span>
    </div>
    <div *ngIf="!isExistInCart; else existInCart" class="actions-bar">
      <div #buttonWithOwnEvent class="count">
        <span (click)="decrement()" class="decrement"><div class="minus"></div></span>
        <span>{{ count }}</span>
        <span (click)="increment()" class="increment"
          ><div class="plus">
            <div class="minus"></div>
            <div class="minus"></div></div
        ></span>
      </div>
      <button #buttonWithOwnEvent class="btn primary" (click)="addItemToCart()">
        {{ 'ADD_TO_CART' | transloco }}
      </button>
      <button #buttonWithOwnEvent (click)="openBuyInClickModal()" class="btn outline">
        {{ 'BUY_IN_CLICK' | transloco }}
      </button>
    </div>
  </div>
</div>

<ng-template #cardForRowContainer>
  <div (click)="navigateToItem($event)" class="card basic">
    <div class="img-wrapper">
      <img
        [src]="item?.mainImg ? (item?.mainImg | imgUrl) : '/assets/images/blank-image.svg'"
        alt="towel-photo"
      />
    </div>
    <div class="card-content">
      <div class="card-text">
        <span [ngClass]="{ orange: !item?.availability }" class="label">{{
          item?.availability ? ('AVAILABLE' | transloco) : ('ON_ORDER' | transloco)
        }}</span>
        <span class="card-title">{{
          currentLanguage === 'uk_UA' ? item?.nameUa : item?.name
        }}</span>
      </div>
      <div class="card-price">
        <span *ngIf="!!item?.oldPrice" [ngClass]="{ prev: item?.oldPrice }" class="price">{{
          item?.oldPrice | currency: 'UAH':'грн.':'1.2-2':'ua'
        }}</span>
        <span [ngClass]="{ 'with-discount': item?.oldPrice }" class="price"
          >{{ item?.price | currency: 'UAH':'грн.':'1.2-2':'ua' }}
        </span>
      </div>

      <div class="buttons-wrapper" *ngIf="!isExistInCart; else existInCart">
        <button #buttonWithOwnEvent class="btn primary" (click)="addItemToCart()">
          {{ 'ADD_TO_CART' | transloco }}
        </button>

        <button #buttonWithOwnEvent (click)="openBuyInClickModal()" class="btn outline">
          {{ 'BUY_IN_CLICK' | transloco }}
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #existInCart>
  <div [routerLink]="['', 'cart']" *ngIf="isExistInCart" class="actions">
    <div class="exist-link" *ngIf="isExistInCart">
      <button class="bar-item">
        <svg-icon src="/assets/images/shop-icon.svg"></svg-icon>
        <div class="circle">
          <span class="symbol">✓</span>
        </div>
      </button>
      <span class="link-text">{{ 'IN_CART' | transloco }}</span>
    </div>
  </div>
</ng-template>
