.card {
  display: flex;
  border: 1px solid #BFBEBE;
  border-radius: 8px;
  padding: 8px 16px;
  width: auto;
  transition: 200ms;
  cursor: pointer;

  img {
    width: 152px;
    height: 152px;
  }

  .card-content {
    display: flex;
    padding: 20px 0;
    width: 100%;
    justify-content: space-between;
  }

  .card-text {
    margin-left: 16px;
    max-width: 352px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 20px;
    color: #333333;

    .label {
      margin-top: 8px;
      font-size: 14px;
      &.orange {
        color: #FF6700;
      }
    }
  }

  .card-price {
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;

    .price {
      &.prev {
        color: #BFBEBE;
        font-size: 14px;
        line-height: 16px;
        text-decoration-line: line-through;
      }
    }

    .price {
      &.with-discount {
        margin-top: 8px;
        color: #FF6700;
        font-size: 18px;
        line-height: 24px;
      }
    }
  }

  .actions-bar {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .count {
      font-size: 18px;
      line-height: 24px;
      color: #333333;
      display: flex;

      .minus {
        background: #0D0D0D;
        width: 8px;
        height: 3px;
        pointer-events: none;
      }

      span {
        border: 1px solid #BFBEBE;
        padding: 2px 16px;
        display: flex;
        align-items: center;
        justify-content: center;

        &.decrement {
          border-right: none;
          cursor: pointer;
        }

        &.increment {
          border-left: none;
          cursor: pointer;

          .plus {
            position: relative;
            width: 12px;
            height: 12px;
            top: 45%;
            transform: translate(0, -50%);
            pointer-events: none;
            .minus {
              position: absolute;
              width: 12px;
            }
            .minus:nth-of-type(2) {
              transform: rotate(-90deg);
            }
          }
        }
      }
    }

    .btn {
      &.primary {
        margin-top: 16px;
      }

      &.outline {
        margin-top: 8px;
      }
    }
  }

  .actions {
    max-width: 175px;
    width: 100%;
  }

  .exist-link {
    display: flex;
    align-items: center;
    width: fit-content;
    cursor: pointer;
    .link-text {
      margin-left: 8px;
      box-sizing: border-box;
      border-bottom: 1px solid #000;
      transition: 150ms;
      font-size: 14px;
    }

    svg-icon {
      svg {
        path {
          fill: #3F75BE;
        }
      }
    }

    &:hover {
      .link-text {
      color: #7b7b7b;
      transition: 150ms;
      }
    }


  }

  .bar-item {
    background: none;
    border: none;
    position: relative;
    padding: 8px;
    cursor: pointer;
    .circle {
      position: absolute;
      background: #EFF3FC;
      position: absolute;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      top: -2px;
      left: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        font-size: 14px;
      }
    }
  }

  &.basic {
    flex-direction: column;
    align-items: center;
    padding: 8px;

    .img-wrapper {
      min-width: 220px;
      min-height: 220px;
      max-width: 220px;
      max-height: 220px;
      img {
        width: 220px;
        height: 220px;
      }
    }

    .card-content {
      flex-direction: column;
      max-width: 240px;
      padding: 16px 0 0;
    }

    .card-text {
      margin-left: 0;

      .label {
        margin-top: 0;
      }

      .card-title {
        margin-top: 8px;
      }
    }

    .card-price {
      flex-direction: row;
      justify-content: center;
      margin-left: 0;
      margin-top: 8px;

      .price {
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;

        &.with-discount {
          margin-top: 0;
          margin-left: 8px;
        }
      }

    }

    .btn {
      margin-top: 4px;
      align-self: center;
      width: fit-content;
    }

    &:hover {
      transition: 200ms;
      box-shadow: -20px 10px 15px rgba(196, 196, 196, 0.2), 20px 10px 15px rgba(196, 196, 196, 0.2);
      max-height: 100%;
    }


    .actions {
      max-width: none;
      margin-top: 8px;

      .exist-link {
        width: auto;
        justify-content: center;
      }
    }
  }
}
