<app-loader *ngIf="isLoading$ | async"></app-loader>

<section>
  <div class="container">
    <h2 class="page-title">{{ catalogTitle }}</h2>
    <div class="swiper-wrapper">
      <div class="swiper-button swiper-button-prev-unique">
        <svg-icon src="assets/images/arrow-left.svg" alt="arrow"></svg-icon>
      </div>
      <div class="swiper-button swiper-button-next-unique">
        <svg-icon src="assets/images/arrow-left.svg" alt="arrow"></svg-icon>
      </div>
      <swiper [config]="swiperConfig" class="catalog-menu-swiper">
        <ng-template swiperSlide>
          <div [routerLink]="['', 'catalog', 'water']" class="catalog-menu-card">
            <img class="card-img" src="assets/images/towel.jpg" />
            <span class="card-title">{{ 'CATALOG_PAGE.WATER_DRYERS' | transloco }}</span>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div [routerLink]="['', 'catalog', 'electricity']" class="catalog-menu-card">
            <img class="card-img" src="assets/images/towel.jpg" />
            <span class="card-title">{{ 'CATALOG_PAGE.ELECTRICITY_DRYERS' | transloco }}</span>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div [routerLink]="['', 'catalog', 'combine']" class="catalog-menu-card">
            <img class="card-img" src="assets/images/towel.jpg" />
            <span class="card-title">{{ 'CATALOG_PAGE.COMBINE_DRYERS' | transloco }}</span>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div [routerLink]="['', 'catalog', 'accessories']" class="catalog-menu-card">
            <img class="card-img" src="assets/images/towel.jpg" />
            <span class="card-title">{{ 'CATALOG_PAGE.ACCESSORIES' | transloco }}</span>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div [routerLink]="['', 'catalog', 'discounts']" class="catalog-menu-card">
            <img class="card-img" src="assets/images/towel.jpg" />
            <span class="card-title">{{ 'CATALOG_PAGE.DISCOUNTS' | transloco }}</span>
          </div>
        </ng-template>
      </swiper>
    </div>
    <!-- eslint-disable-next-line @angular-eslint/template/no-negated-async -->
    <div *ngIf="!(isMobile$ | async); else mobileContent" class="page-content">
      <div class="side-layout">
        <app-filtering-bar></app-filtering-bar>
        <app-instagram-feed></app-instagram-feed>
      </div>
      <app-sorting-bar (viewTypeEvent)="changeListView($event)"></app-sorting-bar>
      <div
        [ngClass]="{ 'mt-0': viewType === 'row' && (products$ | async).length }"
        class="list-wrapper"
      >
        <div
          *ngIf="!!(products$ | async).length; else emptyMessage"
          [ngClass]="{
            'view-column': viewType === 'column',
            'view-row': viewType === 'row'
          }"
          class="cards-list"
        >
          <app-catalog-card
            *ngFor="let product of products$ | async"
            [item]="product"
            [viewType]="viewType"
          ></app-catalog-card>
        </div>
        <ng-template #emptyMessage>
          <div>{{ 'CATALOG_PAGE.ITEMS_NOT_FOUND' | transloco }}</div>
        </ng-template>
        <app-pagination *ngIf="!!(products$ | async).length"></app-pagination>
      </div>
    </div>
    <app-viewed-products-list></app-viewed-products-list>
  </div>

  <ng-template #mobileContent>
    <div class="page-content">
      <app-filtering-bar></app-filtering-bar>
      <app-sorting-bar></app-sorting-bar>
      <div class="list-wrapper">
        <div *ngIf="!!(products$ | async).length; else emptyMessage" class="cards-list">
          <app-catalog-card
            *ngFor="let product of products$ | async"
            [item]="product"
            [viewType]="viewType"
          ></app-catalog-card>
        </div>
        <ng-template #emptyMessage>
          <div>{{ 'CATALOG_PAGE.ITEMS_NOT_FOUND' | transloco }}</div>
        </ng-template>
        <app-pagination *ngIf="!!(products$ | async).length"></app-pagination>
      </div>
    </div>
  </ng-template>
</section>
