<app-loader *ngIf="isLoading$ | async"></app-loader>

<section>
  <div class="container">
    <h3 class="page-title">Корзина</h3>
    <app-breadcrumbs></app-breadcrumbs>
    <div *ngIf="(currentCart$ | async)?.itemRecords.length; else empty" class="cards-list">
      <app-cart-item
        *ngFor="let item of (currentCart$ | async).itemRecords"
        [cartRecord]="item"
      ></app-cart-item>
    </div>

    <div *ngIf="(currentCart$ | async)?.itemRecords.length" class="cart-actions">
      <div class="cart-sum">
        <span>Итого:</span>
        <div class="sum">
          {{ (currentCart$ | async)?.totalSum | currency: 'UAH':'грн.':'1.2-2':'ua' }}
        </div>
      </div>
      <div class="actions">
        <button [routerLink]="['', 'verification']" class="btn primary">К оформлению</button>
        <button (click)="openBuyInClickModal()" class="btn outline">Покупка в один клик</button>
      </div>
    </div>
    <app-viewed-products-list></app-viewed-products-list>
  </div>
</section>

<ng-template #empty>
  <div class="empty-cart">
    <span class="cart-title">Корзина пуста</span>
    <span class="cart-subtitle">Но это можно исправить :)</span>
    <button [routerLink]="['', 'catalog', 'water']" class="btn primary">В каталог</button>
  </div>
</ng-template>
