<app-loader *ngIf="isLoading$ | async"></app-loader>

<section>
  <div class="container">
    <h3 class="page-title">{{ 'CART_PAGE.CART' | transloco }}</h3>
    <app-breadcrumbs></app-breadcrumbs>
    <div *ngIf="(currentCart$ | async)?.itemRecords.length; else empty" class="cards-list">
      <app-cart-item
        *ngFor="let item of (currentCart$ | async).itemRecords"
        [cartRecord]="item"
      ></app-cart-item>
    </div>

    <div *ngIf="(currentCart$ | async)?.itemRecords.length" class="cart-actions">
      <div class="cart-sum">
        <span>{{ 'CART_PAGE.SUM' | transloco }}:</span>
        <div class="sum">
          {{ (currentCart$ | async)?.totalSum | currency: 'UAH':'грн.':'1.2-2':'ua' }}
        </div>
      </div>
      <div class="actions">
        <button [routerLink]="['', 'verification']" class="btn primary">
          {{ 'CART_PAGE.TO_ORDERING' | transloco }}
        </button>
        <button (click)="openBuyInClickModal()" class="btn outline">
          {{ 'BUY_IN_CLICK' | transloco }}
        </button>
      </div>
    </div>
    <app-viewed-products-list></app-viewed-products-list>
  </div>
</section>

<ng-template #empty>
  <div class="empty-cart">
    <span class="cart-title">{{ 'CART_PAGE.EMPTY_CART' | transloco }}</span>
    <span class="cart-subtitle">{{ 'CART_PAGE.EMPTY_CART_TEXT' | transloco }}</span>
    <button [routerLink]="['', 'catalog', 'water']" class="btn primary">
      {{ 'CART_PAGE.TO_CATALOG' | transloco }}
    </button>
  </div>
</ng-template>
