.footer {
  .top {
    padding: 24px 0;
    background: #EFF3FC;

    .container {
      display: flex;
      justify-content: space-between;
    }
  }

  .bottom {
    display: flex;
    padding: 24px 0;
    span:nth-of-type(2) {
      margin-left: 24px;
    }
    .container {
      @media(max-width: 768px) {
        display: flex;
        flex-direction: column;
      }

      span:nth-of-type(2) {
        @media(max-width: 768px) {
          margin-top: 4px;
          margin-left: 0;
        }
      }
    }
  }

  ul {
    display: flex;
    @media(max-width: 768px) {
      flex-wrap: wrap;
      margin-left: -16px;
      margin-top: -4px;
    }
  }

  li {
    list-style: none;
    @media(max-width: 768px) {
      margin-left: 16px !important;
      margin-top: 4px;
    }
    &:not(:nth-of-type(1)) {
      margin-left: 32px;
    }

    a {
      text-decoration: none;
      color: #333333;
      font-size: 14px;
      line-height: 20px;
      font-weight: 600;
    }
  }

  .phone-wrapper {
    display: flex;
    align-items: center;

    .number {
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      color: #333333;
      @media(max-width: 768px) {
        display: none;
      }
    }
    .action {
      margin-left: 24px;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      color: #FF6700;
      cursor: pointer;
    }
  }
}
