<div class="footer">
  <div class="top">
    <div class="container">
      <ul>
        <li>
          <a [routerLink]="['/', 'additional-information', 'payment']" class="footer-link"
            >Условия оплаты</a
          >
        </li>
        <li>
          <a [routerLink]="['/', 'additional-information', 'delivery']" class="footer-link"
            >Доставка</a
          >
        </li>
        <li>
          <a
            [routerLink]="['/', 'additional-information', 'return-and-exchange']"
            class="footer-link"
            >Возврат и обмен</a
          >
        </li>
        <li>
          <a [routerLink]="['/', 'contacts']" class="footer-link">Контакты</a>
        </li>
        <!-- <li><a [routerLink]="['']" class="footer-link">Договор-Офферта</a></li> -->
      </ul>

      <div class="phone-wrapper">
        <span class="number">+380 (55) 555 55 55</span>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="container">
      <span>2009-2022 © Предприятие «Warm»</span>
      <span>Украина, г. Одесса</span>
    </div>
  </div>
</div>
