<div class="footer">
  <div class="top">
    <div class="container">
      <ul>
        <li>
          <a [routerLink]="['/', 'additional-information', 'payment']" class="footer-link">{{
            'NAVIGATION.TERMS_OF_PAYMENT' | transloco
          }}</a>
        </li>
        <li>
          <a [routerLink]="['/', 'additional-information', 'delivery']" class="footer-link">{{
            'NAVIGATION.DELIVERY' | transloco
          }}</a>
        </li>
        <li>
          <a
            [routerLink]="['/', 'additional-information', 'return-and-exchange']"
            class="footer-link"
            >{{ 'NAVIGATION.PURCHASE_RETURNS' | transloco }}</a
          >
        </li>
        <li>
          <a [routerLink]="['/', 'contacts']" class="footer-link">{{
            'NAVIGATION.CONTACTS' | transloco
          }}</a>
        </li>
        <!-- <li><a [routerLink]="['']" class="footer-link">Договор-Офферта</a></li> -->
      </ul>

      <div class="phone-wrapper">
        <span class="number">+380 (55) 555 55 55</span>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="container">
      <span>2009-2022 © {{ 'COMPANY' | transloco }} «Warm»</span>
      <span>{{ 'COUNTRY_CITY' | transloco }}</span>
    </div>
  </div>
</div>
