/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-starter-primary: mat-palette($mat-indigo);
$angular-starter-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular-starter-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$angular-starter-theme: mat-light-theme(
  $angular-starter-primary,
  $angular-starter-accent,
  $angular-starter-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($angular-starter-theme);

/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto";
}

html,
body {
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.mat-toolbar {
  justify-content: space-between;
}

.title {
  margin-top: 50px;
  font-size: 25px;
  font-weight: normal;
  text-align: center;
}

.form {
  margin: 20px auto 0;
  max-width: 600px;
  display: flex;
  flex-direction: column;

  button {
    margin: 10px auto 0;
    width: 200px;
  }
}

.manufacturers-list {
  .mat-list-item-content {
    justify-content: space-between;
  }
}

.green-snackbar {
  background: green;
  color: #ffffff;
  button {
    color: #ffffff;
  }
}
.red-snackbar {
  background: rgb(255, 60, 60);
  color: #ffffff;
  button {
    color: #ffffff;
  }
}
