<app-loader *ngIf="(productsIsLoading$ | async) || (stocksIsLoading$ | async)"></app-loader>

<section>
  <div class="container">
    <app-main-swiper></app-main-swiper>
  </div>
</section>
<section class="sale-section">
  <div class="container">
    <app-sale-list></app-sale-list>
  </div>
</section>
<section class="about-section">
  <div class="container">
    <div class="content">
      <div class="section-title">{{ 'MAIN_PAGE.ABOUT_US.TITLE' | transloco }}</div>
      <p class="content-text">
        {{ 'MAIN_PAGE.ABOUT_US.TEXT' | transloco }}
      </p>
      <button [routerLink]="['contacts']" class="btn primary orange">
        {{ 'CONTACTS' | transloco }}
      </button>
    </div>
    <img class="content-img" src="assets/images/dryers-on-chair.jpg" alt="towels" />

    <div class="actions-wrapper">
      <a [routerLink]="['catalog', 'discounts']" class="link">
        <svg-icon src="assets/images/present.svg"></svg-icon>
        <div class="text">
          <span>{{ 'DISCOUNTS' | transloco }}</span>
          <span>{{ 'VIEW_PRODUCTS' | transloco }}</span>
        </div>
      </a>
      <a [routerLink]="['catalog', 'new']" class="link">
        <svg-icon src="assets/images/box.svg"></svg-icon>
        <div class="text">
          <span>{{ 'NEW_ITEMS' | transloco }}</span>
          <span>{{ 'VIEW_PRODUCTS' | transloco }}</span>
        </div>
      </a>
    </div>
  </div>
</section>
<section class="brands-section">
  <div class="container">
    <div class="content">
      <h3 class="section-title">{{ 'MAIN_PAGE.BRANDS.TITLE' | transloco }}</h3>
      <p class="content-text">
        {{ 'MAIN_PAGE.BRANDS.TEXT' | transloco }}
      </p>
    </div>
  </div>
  <div class="brands-string">
    <img src="assets/images/mario-logo.png" alt="brand-logo" />
    <img src="assets/images/laris-logo.png" alt="brand-logo" />
    <img src="assets/images/elna-logo.png" alt="brand-logo" />
    <img src="assets/images/mario-logo.png" alt="brand-logo" />
    <img src="assets/images/laris-logo.png" alt="brand-logo" />
    <img src="assets/images/elna-logo.png" alt="brand-logo" />
    <img src="assets/images/mario-logo.png" alt="brand-logo" />
    <img src="assets/images/laris-logo.png" alt="brand-logo" />
    <img src="assets/images/elna-logo.png" alt="brand-logo" />
  </div>
</section>

<section class="get-section">
  <div class="container">
    <img class="section-img" src="assets/images/get-section.jpg" alt="towel" />
    <div class="content">
      <h3 class="section-title">{{ 'MAIN_PAGE.ADVANTAGE.TITLE' | transloco }}</h3>
      <div class="cards-wrapper">
        <div class="card">
          <svg-icon src="assets/images/list-icon.svg"></svg-icon>
          <span>{{ 'MAIN_PAGE.ADVANTAGE.QUALITY_CHECKING' | transloco }}</span>
        </div>
        <div class="card">
          <svg-icon src="assets/images/cup-icon.svg"></svg-icon>
          <span>{{ 'MAIN_PAGE.ADVANTAGE.ORIGINAL_PRODUCT' | transloco }}</span>
        </div>
        <div class="card">
          <svg-icon src="assets/images/transfer-icon.svg"></svg-icon>
          <span>{{ 'MAIN_PAGE.ADVANTAGE.RETURN_AND_EXCHANGE_GUARANTEE' | transloco }}</span>
        </div>
        <div class="card">
          <svg-icon src="assets/images/message-icon.svg"></svg-icon>
          <span>{{ 'MAIN_PAGE.ADVANTAGE.FAST_FEEDBACK' | transloco }}</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="easy-section">
  <div class="container">
    <h3 class="section-title">{{ 'MAIN_PAGE.SIMPLICITY.TITLE' | transloco }}</h3>
    <div class="cards-list">
      <div class="card">
        <img src="assets/images/basket-big-icon.svg" />
        <p class="card-text">
          {{ 'MAIN_PAGE.SIMPLICITY.FIRST_STEP' | transloco }}
        </p>
        <span class="order-number">1</span>
      </div>
      <div class="card">
        <img src="assets/images/operator-icon.svg" />
        <p class="card-text">
          {{ 'MAIN_PAGE.SIMPLICITY.SECOND_STEP' | transloco }}
        </p>
        <span class="order-number">2</span>
      </div>
    </div>
    <div [routerLink]="['catalog', 'water']" class="btn primary orange">
      {{ 'MAIN_PAGE.SIMPLICITY.TO_CATALOG' | transloco }}
    </div>
  </div>
</section>
