.sale-section {
  background: #EFF3FC;
  max-height: 560px;
  height: 100%;
  margin-top: 24px;
  position: relative;
  @media(max-width: 768px) {
    max-height: none;
  }
  .container {
    @media(max-width: 768px) {
      padding-top: 20px;
    }
  }
}

app-sale-list {
  position: relative;
  top: 20px;
  @media(max-width: 768px) {
    position: initial;
    top: 0;
  }
}

.about-section {
  position: relative;
  padding-top: 80px;
  margin-bottom: 80px;
  @media(max-width: 768px) {
    padding-top: 0;
    margin-bottom: 40px;
  }
  .container {
    display: flex;
    justify-content: space-between;
    @media(max-width: 768px) {
      flex-direction: column;
    }
  }

  .content {
    margin-top: 56px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    @media (max-width: 1024px) {
      max-width: 450px;
    }
    @media(max-width: 768px) {
      max-width: none;
      margin-top: 40px;
    }

    .content-text {
      margin-top: 8px;
      font-size: 14px;
      line-height: 20px;
      white-space: pre-line;
    }

    .btn {
      margin-top: 16px;
      align-self: flex-start;
      width: auto;
      padding: 4px 60px;
      @media(max-width: 768px) {
        width: 100%;
      }
    }
  }
  .content-img {
    width: 600px;
    height: 670px;
    @media(max-width: 1038px) {
      width: 550px;
    }
    @media(max-width: 1024px) {
      width: 400px;
      height: auto;
      margin-left: 24px;
    }
    @media(max-width: 768px) {
      display: none;
    }
  }

  .actions-wrapper {
    position: absolute;
    display: flex;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    @media(max-width: 768px) {
      position: initial;
      transform: none;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 16px;
      margin-bottom: -8px;
    }
    @media(max-width: 540px) {
      flex-direction: column;
    }

    .link {
      cursor: pointer;
      background: #EFF3FC;
      border: 1px solid #3F75BE;
      border-radius: 8px;
      padding: 8px 16px;
      display: flex;
      align-items: center;
      transition: 200ms;
      text-decoration: none;
      @media(max-width: 768px) {
        width: fit-content;
        margin-bottom: 8px;
      }
      @media(max-width: 540px) {
        width: 100%;
      }

      &:hover {
        background: #cad4ed;
        transition: 200ms;
      }

      .text {
        display: flex;
        flex-direction: column;
        margin-left: 16px;

        span:nth-of-type(1) {
          font-size: 26px;
          line-height: 30px;
          font-weight: 700;
          color: #3F75BE;
          letter-spacing: 0.065em;
        }
        span:nth-of-type(2) {
          font-size: 16px;
          line-height: 24px;
          color: #3F75BE;
          white-space: nowrap;
        }
      }
      &:not(:nth-of-type(1)) {
        margin-left: 24px;
        @media(max-width: 768px) {
          margin-left: 0;
        }
      }
    }
  }
}

.brands-section {
  background: #EFF3FC;
  padding: 40px 0 24px 0;
  overflow: hidden;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .content-text {
    display: block;
    font-size: 18px;
    line-height: 27px;
    max-width: 736px;
    margin-top: 16px;
  }

  .brands-string {
    background: #a0a2a62e;
    margin-top: 56px;
    padding: 8px 16px;
    display: flex;

    img {
      height: 70px;
      width: 150px;
      &:not(:nth-of-type(1)) {
        margin-left: 24px;
      }
      @media(max-width: 768px) {
        height: 40px;
        width: 85px;
      }
    }

  }
}

.get-section {
  padding: 40px 0;

  .container {
    display: flex;
    align-items: center;

    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }

  .section-img {
    width: 540px;
    height: 400px;
    @media (max-width: 1024px) {
      order: 2;
      margin-top: 24px;
      width: 600px;
      height: auto;
    }
    @media(max-width: 768px) {
      display: none;
    }
  }

  .section-title {
    text-align: center;
  }

  .content {
    margin-left: 24px;
    @media (max-width: 1024px) {
      order: 1;
    }
    @media(max-width: 768px) {
      margin-left: 0;
    }

    .cards-wrapper {
      margin-top: 32px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1 1 50%;
        &:nth-of-type(3), &:nth-of-type(4) {
          margin-top: 40px;
        }

        span {
          font-size: 18px;
          line-height: 27px;
          margin-top: 8px;
          text-align: center;
        }
      }
    }
  }
}

.easy-section {
  padding: 40px 0 40px 0;
  background: #EFF3FC;
  .section-title {
    text-align: center;
  }

  .cards-list {
    display: flex;
    justify-content: space-evenly;
    margin-top: 24px;
    @media(max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 360px;
      position: relative;
      @media(max-width: 768px) {
        width: auto;
      }

      &:nth-of-type(2) {
        @media(max-width: 768px) {
          margin-top: 40px;
        }
      }

      .card-text {
        position: relative;
        font-size: 14px;
        line-height: 20px;
        margin-top: 8px;
        z-index: 100;
      }

      img {
        position: relative;
        z-index: 100;
      }

      .order-number {
        position: absolute;
        font-weight: 800;
        font-size: 140px;
        line-height: 100%;
        color: #e2eaff;
        bottom: -48px;
      }
    }
  }

  .btn {
    width: fit-content;
    padding: 4px 56px;
    margin: 56px auto 0;
  }
}
