<mat-toolbar color="primary">
  <span>WarmShop</span>

  <div>
    <!-- ngIf ADMIN -->
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <!-- <button mat-menu-item [routerLink]="['create']">Создать товар</button> -->
      <button mat-menu-item (click)="openCreateProductModal()">
        Создать товар
      </button>

      <button mat-menu-item [routerLink]="['items']">Список товаров</button>
      <button mat-menu-item (click)="openCreateManufacturerModal()">
        Добавить нового производителя
      </button>
      <button mat-menu-item (click)="openManufacturersListModal()">
        Список производителей
      </button>
      <button mat-menu-item (click)="openCreateColorModal()">
        Добавить новый цвет
      </button>
      <button mat-menu-item (click)="openColorsListModal()">
        Список цветов
      </button>
      <button mat-menu-item>Список заказов</button>
      <button mat-menu-item>Список звонков</button>
    </mat-menu>
  </div>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>
