<!-- eslint-disable-next-line @angular-eslint/template/no-negated-async -->
<table *ngIf="!(isMobile$ | async); else mobileList">
  <tr class="table-header">
    <th>{{ 'VERIFICATION_PAGE.ITEM_NAME' | transloco }}</th>
    <th>{{ 'VERIFICATION_PAGE.ITEM_MANUFACTURER' | transloco }}</th>
    <th *ngIf="itemsInCart$ | async | isExistNotEmptyValue: 'item':'oldPrice'">
      {{ 'VERIFICATION_PAGE.ITEM_DISCOUNT' | transloco }}
    </th>
    <th>{{ 'VERIFICATION_PAGE.ITEM_COUNT' | transloco }}</th>
    <th>{{ 'VERIFICATION_PAGE.ITEM_SUM' | transloco }}</th>
  </tr>
  <tr *ngFor="let itemRecord of itemsInCart$ | async">
    <td>
      <img [src]="itemRecord.item.mainImg || '/assets/images/blank-image.svg'" />
      <span class="name">{{
        currentLanguage === 'uk_UA' ? itemRecord.item.nameUa : itemRecord.item.name
      }}</span>
    </td>
    <td>
      <span>{{ itemRecord.item.manufacturer?.name }}</span>
    </td>
    <td *ngIf="itemsInCart$ | async | isExistNotEmptyValue: 'item':'oldPrice'">
      <span *ngIf="itemRecord.item.oldPrice"
        >~{{
          100 - itemRecord.item.price / (itemRecord.item.oldPrice / 100) | number: '1.0-0'
        }}%</span
      >
    </td>
    <td>
      <span>{{ itemRecord.count }} шт.</span>
    </td>
    <td>
      <span class="sum">{{
        itemRecord.count * itemRecord.item.price | currency: 'UAH':'грн.':'1.2-2':'ua'
      }}</span>
    </td>
  </tr>
</table>

<ng-template #mobileList>
  <div class="cards-list">
    <div *ngFor="let itemRecord of itemsInCart$ | async" class="card">
      <img class="card-img" [src]="itemRecord.item.mainImg" />
      <div class="card-name">
        {{ currentLanguage === 'uk_UA' ? itemRecord.item.nameUa : itemRecord.item.name }}
      </div>
      <div class="card-count">
        <span>{{ 'VERIFICATION_PAGE.ITEM_COUNT' | transloco }}:</span> {{ itemRecord.count }} шт.
      </div>
      <div class="card-sum">
        <span>{{ 'VERIFICATION_PAGE.ITEM_SUM' | transloco }}:</span>
        {{ itemRecord.count * itemRecord.item.price | currency: 'UAH':'грн.':'1.2-2':'ua' }}
      </div>
    </div>
  </div>
</ng-template>
